<nav aria-label='breadcrumb'>
    <ol class='breadcrumb breadcrumb-arrow'>
        <li class='breadcrumb-item'><a href='/department/index'>department</a></li>
        <li class='breadcrumb-item active' aria-current='page'>edit</li>
    </ol>
</nav>
<div id='app1' v-cloak>

    <v-app>
         
        <v-card>
          <v-card-title>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="department.departmentName" label="department" ></v-text-field>


          </v-card-text>
          <v-card-actions>
             <v-btn @@click='edit_department' color='yellow' outlined>
                <v-icon>
                    mdi-content-save-edit
                </v-icon>
             </v-btn>
          </v-card-actions>
          
        </v-card>
    </v-app>
</div>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
                    department:{}
                    ,
                    
                }//edata
                ,
                created(){
                  this.department = @Html.Raw(Json.Serialize(@ViewBag.department));
                     
                     
                }//ecreated
                ,
                methods:{
                  edit_department(){
                   
                    var url = '/department/edit';
                    var param= this.department;
                    $.post(url,param)
                    .done(res =>{
                          if(res.error == -1){
                               window.location = '/department/index';
                          }
                          else{
                             alert(res.exception);
                          }
                    });
                    
                  }//emethod

                }//emethod
                ,
                 computed:{

                 }//ecomputed
            };
            app = new Vue(component);


    </script>

}
