
<div id='app1' v-cloak>
    <v-app>
        <v-main>              	
    <div class="imgc">
                <v-img
      src="https://drive.google.com/uc?id=1989J-WldV3OvD9SgmfzkUI5AeWVRX2F2"
      contain
     
        width="1500px"
        style="position: absolute; margin-left: -.5em; margin-top: -.5em;"
    >
    <div class="bum1" ><!--เลขผู้เสีย =>ต้องมีspaceในdata เพื่อใช้ wordspacing -->
        1 2 1 2 3 1 2 1 2 1 5 5 5
    </div>
    <div class="bum2" ><!--ประเภท1 -->
        <input type="checkbox" class="ab1"/>
    </div>
   <div class="bum3" ><!--ประเภท2 -->
        <input type="checkbox" class="ab2"/>
    </div>
    <div class="bum4" ><!--ประเภท3 -->
        <input type="checkbox" class="ab3"/>
    </div>
    <div class="bum5" ><!--ประเภท4 -->
        <input type="checkbox" class="ab4"/>
    </div>
    <div class="bum6" ><!--ประเภท5 -->
        <input type="checkbox" class="ab5"/>
    </div>
    <div class="bum7" ><!--สาขา -->
        1 2 3 1 2
    </div>
    <div class="bum8" ><!--แผ่นที่ -->
        1
    </div>
    <div class="bum9" ><!--จำนวน -->
        1
    </div>
    <div class="bum10" ><!--ลำดับ 1-->
        1 
    </div>
    <div class="bum11" ><!--เลขบัตร -->
        2 2 3 4 5 6 7 8 9 1 0 1 1
    </div>
    <div class="bum12" ><!--ชื่อ -->
        2222
    </div>
    <div class="bum13" ><!--นามสกุล -->
        2222
    </div>
    <div class="bum14" ><!--ที่อยู่ -->
        2222
    </div>
    <div class="bum15" ><!--เงินทั้งปี -->
        2222
    </div>
    <div class="bum16" ><!--เงินทั้งปี ทศ-->
        22
    </div>
    <div class="bum17" ><!--ภาษี-->
        2222
    </div>
    <div class="bum18" ><!--ภาษี ทศ -->
        22
    </div>
    <div class="bum19" ><!--เงื่อนไข-->
        2
    </div>
    <div class="bum20" ><!--ลำดับ 2 -->
        2
    </div>
    <div class="bum21" ><!--เลขบัตร -->
        2 2 3 4 5 6 7 8 9 1 0 1 1
    </div>
    <div class="bum22" ><!--ชื่อ -->
        2222
    </div>
    <div class="bum23" ><!--นามสกุล -->
        2222
    </div>
    <div class="bum24" ><!--ที่อยู่ -->
        2222
    </div>
    <div class="bum25" ><!--เงินทั้งปี -->
        2222
    </div>
    <div class="bum26" ><!--เงินทั้งปี ทศ-->
        22
    </div>
    <div class="bum27" ><!--ภาษี-->
        2222
    </div>
    <div class="bum28" ><!--ภาษี ทศ -->
        22
    </div>
    <div class="bum29" ><!--เงื่อนไข-->
        2
    </div>
    <div class="bum30" ><!--ลำดับ 3 -->
        3
    </div>
    <div class="bum31" ><!--เลขบัตร -->
        2 2 3 4 5 6 7 8 9 1 0 1 1
    </div>
    <div class="bum32" ><!--ชื่อ -->
        2222
    </div>
    <div class="bum33" ><!--นามสกุล -->
        2222
    </div>
    <div class="bum34" ><!--ที่อยู่ -->
        2222
    </div>
    <div class="bum35" ><!--เงินทั้งปี -->
        2222
    </div>
    <div class="bum36" ><!--เงินทั้งปี ทศ-->
        22
    </div>
    <div class="bum37" ><!--ภาษี-->
        2222
    </div>
    <div class="bum38" ><!--ภาษี ทศ -->
        22
    </div>
    <div class="bum39" ><!--เงื่อนไข-->
        2
    </div>
    <div class="bum40" ><!--ลำดับ 4 -->
        4
    </div>
    <div class="bum41" ><!--เลขบัตร -->
        2 2 3 4 5 6 7 8 9 1 0 1 1
    </div>
    <div class="bum42" ><!--ชื่อ -->
        2222
    </div>
    <div class="bum43" ><!--นามสกุล -->
        2222
    </div>
    <div class="bum44" ><!--ที่อยู่ -->
        2222
    </div>
    <div class="bum45" ><!--เงินทั้งปี -->
        2222
    </div>
    <div class="bum46" ><!--เงินทั้งปี ทศ-->
        22
    </div>
    <div class="bum47" ><!--ภาษี-->
        2222
    </div>
    <div class="bum48" ><!--ภาษี ทศ -->
        22
    </div>
    <div class="bum49" ><!--เงื่อนไข-->
        2
    </div>
    <div class="bum50" ><!--ลำดับ 5 -->
        5
    </div>
    <div class="bum51" ><!--เลขบัตร -->
        2 2 3 4 5 6 7 8 9 1 0 1 1
    </div>
    <div class="bum52" ><!--ชื่อ -->
        2222
    </div>
    <div class="bum53" ><!--นามสกุล -->
        2222
    </div>
    <div class="bum54" ><!--ที่อยู่ -->
        2222
    </div>
    <div class="bum55" ><!--เงินทั้งปี -->
        2222
    </div>
    <div class="bum56" ><!--เงินทั้งปี ทศ-->
        22
    </div>
    <div class="bum57" ><!--ภาษี-->
        2222
    </div>
    <div class="bum58" ><!--ภาษี ทศ -->
        22
    </div>
    <div class="bum59" ><!--เงื่อนไข-->
        2
    </div>
    <div class="bum60" ><!--ลำดับ 6 -->
        6
    </div>
    <div class="bum61" ><!--เลขบัตร -->
        2 2 3 4 5 6 7 8 9 1 0 1 1
    </div>
    <div class="bum62" ><!--ชื่อ -->
        2222
    </div>
    <div class="bum63" ><!--นามสกุล -->
        2222
    </div>
    <div class="bum64" ><!--ที่อยู่ -->
        2222
    </div>
    <div class="bum65" ><!--เงินทั้งปี -->
        2222
    </div>
    <div class="bum66" ><!--เงินทั้งปี ทศ-->
        22
    </div>
    <div class="bum67" ><!--ภาษี-->
        2222
    </div>
    <div class="bum68" ><!--ภาษี ทศ -->
        22
    </div>
    <div class="bum69" ><!--เงื่อนไข-->
        2
    </div>
    <div class="bum70" ><!--ลำดับ 7 -->
        7
    </div>
    <div class="bum71" ><!--เลขบัตร -->
        2 2 3 4 5 6 7 8 9 1 0 1 1
    </div>
    <div class="bum72" ><!--ชื่อ -->
        2222
    </div>
    <div class="bum73" ><!--นามสกุล -->
        2222
    </div>
    <div class="bum74" ><!--ที่อยู่ -->
        2222
    </div>
    <div class="bum75" ><!--เงินทั้งปี -->
        2222
    </div>
    <div class="bum76" ><!--เงินทั้งปี ทศ-->
        22
    </div>
    <div class="bum77" ><!--ภาษี-->
        2222
    </div>
    <div class="bum78" ><!--ภาษี ทศ -->
        22
    </div>
    <div class="bum79" ><!--เงื่อนไข-->
        2
    </div>
    <div class="bum80" ><!--เงินทั้งปี -->
        2222
    </div>
    <div class="bum81" ><!--เงินทั้งปี ทศ-->
        22
    </div>
    <div class="bum82" ><!--ภาษี-->
        2222
    </div>
    <div class="bum83" ><!--ภาษี ทศ -->
        22
    </div>
    <div class="bum84" ><!--ชื่อ-->
        2
    </div>
    <div class="bum85" ><!--ชื่อ 2-->
        2
    </div>
    <div class="bum86" ><!--ตำแหน่ง-->
        2
    </div>
    <div class="bum87" ><!--วัน-->
        2
    </div>
    <div class="bum88" ><!--เดือน-->
        2
    </div>
    <div class="bum89" ><!--พ.ศ.-->
        2
    </div>
</v-img> 
</div>
 
</div>

<style>
.imgc{
    margin: 0;
    position: relative;
    top: 10px;
    width:1500px;
     margin:45px;
}
.bum1{
    position: absolute;
    top: 42px;
    left: 770px;
    font-size: 20px;
    word-spacing: 7.5px;
}
.bum2{
    position: absolute;
    top: 127px;
    left: 173px;
}
input.ab1{  
    height:20px;
    width:100px;
}
.bum3{
    position: absolute;
    top: 158px;
    left: 173px;

}
input.ab2{  
    height:20px;
    width:100px;
}
.bum4{
    position: absolute;
    top: 127px;
    left: 587px;
}
input.ab3{  
    height:20px;
    width:100px;
}
.bum5{
    position: absolute;
    top: 157px;
    left: 587px;
}
input.ab4{  
    height:20px;
    width:100px;
}
.bum6{
    position: absolute;
    top: 188px;
    left: 587px;
}
input.ab5{  
    height:20px;
    width:100px;
}
.bum7{
    position: absolute;
    top: 93px;
    left: 1345px;
    word-spacing:5px;
    font-size: 18px;
}
.bum8{
    position: absolute;
    top: 195px;
    left: 1250px;
    font-size: 18px;
}
.bum9{
    position: absolute;
    top: 195px;
    left: 1360px;
    font-size: 18px;
}
.bum10{
    position: absolute;
    top: 320px;
    left: 140px;
    font-size: 18px;
}
.bum11{
    position: absolute;
    top: 304px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum12{
    position: absolute;
    top: 304px;
    left: 550px;
    font-size: 18px;
}
.bum13{
    position: absolute;
    top: 304px;
    left: 820px;
    font-size: 18px;
}
.bum14{
    position: absolute;
    top: 335px;
    left: 575px;
    font-size: 18px;
}
.bum15{
    position: absolute;
    top: 320px;
    left: 1100px;
    font-size: 18px;
}
.bum16{
    position: absolute;
    top: 320px;
    left: 1198px;
    font-size: 18px;
}
.bum17{
    position: absolute;
    top: 320px;
    left: 1280px;
    font-size: 18px;
}
.bum18{
    position: absolute;
    top: 320px;
    left: 1375px;
    font-size: 18px;
}
.bum19{
    position: absolute;
    top: 320px;
    left: 1415px;
    font-size: 18px;
}
.bum20{
    position: absolute;
    top: 390px;
    left: 140px;
    font-size: 18px;
}
.bum21{
    position: absolute;
    top: 375px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum22{
    position: absolute;
    top: 375px;
    left: 550px;
    font-size: 18px;
}
.bum23{
    position: absolute;
    top: 375px;
    left: 820px;
    font-size: 18px;
}
.bum24{
    position: absolute;
    top: 405px;
    left: 575px;
    font-size: 18px;
}
.bum25{
    position: absolute;
    top: 390px;
    left: 1100px;
    font-size: 18px;
}
.bum26{
    position: absolute;
    top: 390px;
    left: 1198px;
    font-size: 18px;
}
.bum27{
    position: absolute;
    top: 390px;
    left: 1280px;
    font-size: 18px;
}
.bum28{
    position: absolute;
    top: 390px;
    left: 1375px;
    font-size: 18px;
}
.bum29{
    position: absolute;
    top: 390px;
    left: 1415px;
    font-size: 18px;
}
.bum30{
    position: absolute;
    top: 460px;
    left: 140px;
    font-size: 18px;
}
.bum31{
    position: absolute;
    top: 445px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum32{
    position: absolute;
    top: 445px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum33{
    position: absolute;
    top: 445px;
    left: 820px;
    font-size: 18px;
}
.bum34{
    position: absolute;
    top: 475px;
    left: 575px;
    font-size: 18px;
}
.bum35{
    position: absolute;
    top: 460px;
    left: 1100px;
    font-size: 18px;
}
.bum36{
    position: absolute;
    top: 460px;
    left: 1198px;
    font-size: 18px;
}
.bum37{
    position: absolute;
    top: 460px;
    left: 1280px;
    font-size: 18px;
}
.bum38{
    position: absolute;
    top: 460px;
    left: 1375px;
    font-size: 18px;
}
.bum39{
    position: absolute;
    top: 460px;
    left: 1415px;
    font-size: 18px;
}
.bum40{
    position: absolute;
    top: 525px;
    left: 140px;
    font-size: 18px;
}
.bum41{
    position: absolute;
    top: 513px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum42{
    position: absolute;
    top: 513px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum43{
    position: absolute;
    top: 513px;
    left: 820px;
    font-size: 18px;
}
.bum44{
    position: absolute;
    top: 543px;
    left: 575px;
    font-size: 18px;
}
.bum45{
    position: absolute;
    top: 525px;
    left: 1100px;
    font-size: 18px;
}
.bum46{
    position: absolute;
    top: 525px;
    left: 1198px;
    font-size: 18px;
}
.bum47{
    position: absolute;
    top: 525px;
    left: 1280px;
    font-size: 18px;
}
.bum48{
    position: absolute;
    top: 525px;
    left: 1375px;
    font-size: 18px;
}
.bum49{
    position: absolute;
    top: 525px;
    left: 1415px;
    font-size: 18px;
}
.bum50{
    position: absolute;
    top: 595px;
    left: 140px;
    font-size: 18px;
}
.bum51{
    position: absolute;
    top: 583px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum52{
    position: absolute;
    top: 583px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum53{
    position: absolute;
    top: 583px;
    left: 820px;
    font-size: 18px;
}
.bum54{
    position: absolute;
    top: 613px;
    left: 575px;
    font-size: 18px;
}
.bum55{
    position: absolute;
    top: 595px;
    left: 1100px;
    font-size: 18px;
}
.bum56{
    position: absolute;
    top: 595px;
    left: 1198px;
    font-size: 18px;
}
.bum57{
    position: absolute;
    top: 595px;
    left: 1280px;
    font-size: 18px;
}
.bum58{
    position: absolute;
    top: 595px;
    left: 1375px;
    font-size: 18px;
}
.bum59{
    position: absolute;
    top: 595px;
    left: 1415px;
    font-size: 18px;
}
.bum60{
    position: absolute;
    top: 665px;
    left: 140px;
    font-size: 18px;
}
.bum61{
    position: absolute;
    top: 651px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum62{
    position: absolute;
    top: 651px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum63{
    position: absolute;
    top: 651px;
    left: 820px;
    font-size: 18px;
}
.bum64{
    position: absolute;
    top: 681px;
    left: 575px;
    font-size: 18px;
}
.bum65{
    position: absolute;
    top: 665px;
    left: 1100px;
    font-size: 18px;
}
.bum66{
    position: absolute;
    top: 665px;
    left: 1198px;
    font-size: 18px;
}
.bum67{
    position: absolute;
    top: 665px;
    left: 1280px;
    font-size: 18px;
}
.bum68{
    position: absolute;
    top: 665px;
    left: 1375px;
    font-size: 18px;
}
.bum69{
    position: absolute;
    top: 665px;
    left: 1415px;
    font-size: 18px;
}
.bum70{
    position: absolute;
    top: 735px;
    left: 140px;
    font-size: 18px;
}
.bum71{
    position: absolute;
    top: 720px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum72{
    position: absolute;
    top: 720px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum73{
    position: absolute;
    top: 720px;
    left: 820px;
    font-size: 18px;
}
.bum74{
    position: absolute;
    top: 750px;
    left: 575px;
    font-size: 18px;
}
.bum75{
    position: absolute;
    top: 735px;
    left: 1100px;
    font-size: 18px;
}
.bum76{
    position: absolute;
    top: 735px;
    left: 1198px;
    font-size: 18px;
}
.bum77{
    position: absolute;
    top: 735px;
    left: 1280px;
    font-size: 18px;
}
.bum78{
    position: absolute;
    top: 735px;
    left: 1375px;
    font-size: 18px;
}
.bum79{
    position: absolute;
    top: 735px;
    left: 1415px;
    font-size: 18px;
}
.bum80{
    position: absolute;
    top: 800px;
    left: 1100px;
    font-size: 18px;
}
.bum81{
    position: absolute;
    top: 800px;
    left: 1198px;
    font-size: 18px;
}
.bum82{
    position: absolute;
    top: 800px;
    left: 1280px;
    font-size: 18px;
}
.bum83{
    position: absolute;
    top: 800px;
    left: 1375px;
    font-size: 18px;
}
.bum84{
    position: absolute;
    top: 880px;
    left: 1090px;
    font-size: 18px;
}
.bum85{
    position: absolute;
    top: 910px;
    left: 1090px;
    font-size: 18px;
}
.bum86{
   position: absolute;
    top: 940px;
    left: 1090px;
    font-size: 18px;

}
.bum87{
    position: absolute;
    top: 970px;
    left: 1090px;
    font-size: 18px;
}
.bum88{
    position: absolute;
    top: 970px;
    left:1150px;
    font-size: 18px;
}
.bum89{
     position: absolute;
    top: 970px;
    left: 1300px;
    font-size: 18px;
}
</style>
 </v-main>
    </v-app>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
                    mini:true,
                   slipMasters:[]
                   ,
                   headers:[

                      {text:'slipMasterName',value:'slipMasterName',align:'center',sortable:true},
                      {text:'slipMasterType',value:'slipMasterType',align:'center',sortable:true},
                      {text:'actions',value:'actions',align:'center',sortable:true}

					]
                }//edata
                ,
                created(){
                  this.slipMasters = @Html.Raw(Json.Serialize(@ViewBag.slipMasters));
                }//ecreated
                ,
                methods:{
                    

                }//emethods
                ,
                computed:{

                }//ecomputed
            };
            app = new Vue(component);


    </script>

}