
<div id='app1' v-cloak>
    <div class="imgcs" id="Tbill">
    

</div>
</div>

<style>
.imgcs{
     margin-bottom: 70rem;
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
    width:1000px;
}    
.imgc{
    margin-bottom: 50rem;
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
    top: 10px;
    width:1000px;
    
}
.num1{
    position: absolute;
    top: 80px;
    left: 900px;
    font-size: 19px;
}
.num2{
    position: absolute;
    top: 105px;
    left: 900px;
    font-size: 19px;

}
.num3{
    position: absolute;
    top: 138px;
    left: 636px;
    font-size: 19px;
    word-spacing: 7.8px;
}
.num4{
    position: absolute;
    top: 165px;
    left: 90px;
    font-size: 19px;

}
.num5{
    position: absolute;
    top: 165px;
    left: 715px;
    font-size: 19px;
    word-spacing: 7px;
}
.num6{
    position: absolute;
    top: 205px;
    left: 100px;
    font-size: 19px;
    word-spacing: 7px;
}
.num7{
    position: absolute;
    top: 254px;
    left: 637px;
    font-size: 19px;
    word-spacing: 7.8px;
}
.num8{
    position: absolute;
    top: 286px;
    left: 90px;
    font-size: 19px;

}
.num9{
    position: absolute;
    top: 285px;
    left: 715px;
    font-size: 19px;
    word-spacing: 7px;
}
.num10{
    position: absolute;
    top: 331px;
    left: 100px;
    font-size: 19px;
    word-spacing: 7px;
}
.num11{
    position: absolute;
    top: 377px;
    left: 165px;
    font-size: 19px;

}
.num12{
    position: absolute;
    top: 383px;
    left: 312px;
    
}
input.cb1{
    height:20px;
    width:100px;
}
.num13{
    position: absolute;
    top: 383px;
    left: 443px;
}
input.cb2{
    height:20px;
    width:100px;
}
.num14{
    position: absolute;
    top: 383px;
    left:  624px;
}
input.cb3{
    height:20px;
    width:100px;
}
.num15{
    position: absolute;
    top: 383px;
    left: 754px;
}
input.cb4{
    height:20px;
    width:100px;
}
.num16{
    position: absolute;
    top: 415px;
    left: 312px;
}
input.cb5{
    height:20px;
    width:100px;
}
.num17{
    position: absolute;
    top: 415px;
    left: 443px;
}
input.cb6{
    height:20px;
    width:100px;
}
.num18{
    position: absolute;
    top: 415px;
    left: 624px;
}
input.cb7{
    height:20px;
    width:100px;
}
.num19{
    position: absolute;
    top: 495px;
    left: 580px;
    font-size: 19px;
}
.num20{
    position: absolute;
    top: 495px;
    left: 730px;
    font-size: 19px;
}
.num21{
    position: absolute;
    top: 495px;
    left: 800px;
    font-size: 19px;
}
.num22{
    position: absolute;
    top: 495px;
    left: 860px;
    font-size: 19px;
}
.num23{
    position: absolute;
    top: 495px;
    left: 920px;
    font-size: 19px;
}
.num24{
    position: absolute;
    top: 518px;
    left: 600px;
    font-size: 19px;
}
.num25{
    position: absolute;
    top: 518px;
    left: 760px;
    font-size: 19px;
}
.num26{
    position: absolute;
    top: 518px;
    left: 800px;
    font-size: 19px;
}
.num27{
    position: absolute;
    top: 518px;
    left: 885px;
    font-size: 19px;
}
.num28{
    position: absolute;
    top: 518px;
    left: 920px;
    font-size: 19px;
}
.num29{
    position: absolute;
    top: 543px;
    left: 600px;
    font-size: 19px;
}
.num30{
    position: absolute;
    top: 543px;
    left: 760px;
    font-size: 19px;
}
.num31{
    position: absolute;
    top: 543px;
    left: 800px;
    font-size: 19px;
}
.num32{
    position: absolute;
    top: 543px;
    left: 885px;
    font-size: 19px;
}
.num33{
    position: absolute;
    top: 543px;
    left: 920px;
    font-size: 19px;
}
.num34{
    position: absolute;
    top: 570px;
    left: 600px;
    font-size: 19px;
}
.num35{
    position: absolute;
    top: 570px;
    left: 760px;
    font-size: 19px;
}
.num36{
    position: absolute;
    top: 570px;
    left: 800px;
    font-size: 19px;
}
.num37{
    position: absolute;
    top: 570px;
    left: 885px;
    font-size: 19px;
}
.num38{
    position: absolute;
    top: 570px;
    left: 920px;
    font-size: 19px;
}
.num39{
    position: absolute;
    top: 665px;
    left: 600px;
    font-size: 19px;
}
.num40{
    position: absolute;
    top: 665px;
    left: 760px;
    font-size: 19px;
}
.num41{
    position: absolute;
    top: 665px;
    left: 800px;
    font-size: 19px;
}
.num42{
    position: absolute;
    top: 665px;
    left: 885px;
    font-size: 19px;
}
.num43{
    position: absolute;
    top: 665px;
    left: 920px;
    font-size: 19px;
}
.num44{
    position: absolute;
    top: 690px;
    left: 600px;
    font-size: 19px;
}
.num45{
    position: absolute;
    top: 690px;
    left: 760px;
    font-size: 19px;
}
.num46{
    position: absolute;
    top: 690px;
    left: 800px;
    font-size: 19px;
}
.num47{
    position: absolute;
    top: 690px;
    left: 885px;
    font-size: 19px;
}
.num48{
    position: absolute;
    top: 690px;
    left: 920px;
    font-size: 19px;
}
.num49{
    position: absolute;
    top: 715px;
    left: 600px;
    font-size: 19px;
}
.num50{
    position: absolute;
    top: 715px;
    left: 760px;
    font-size: 19px;
}
.num51{
    position: absolute;
    top: 715px;
    left: 800px;
    font-size: 19px;
}
.num52{
    position: absolute;
    top: 715px;
    left: 885px;
    font-size: 19px;
}
.num53{
    position: absolute;
    top: 715px;
    left: 920px;
    font-size: 19px;
}
.num54{
    position: absolute;
    top: 739px;
    left: 290px;
    font-size: 19px;
}
.num55{
    position: absolute;
    top: 739px;
    left: 600px;
    font-size: 19px;
}
.num56{
    position: absolute;
    top: 739px;
    left: 760px;
    font-size: 19px;
}
.num57{
    position: absolute;
    top: 739px;
    left: 800px;
    font-size: 19px;
}
.num58{
    position: absolute;
    top: 739px;
    left: 885px;
    font-size: 19px;
}
.num59{
    position: absolute;
    top: 739px;
    left: 920px;
    font-size: 19px;
}
.num60{
    position: absolute;
    top: 787px;
    left: 600px;
    font-size: 19px;
}
.num61{
    position: absolute;
    top: 787px;
    left: 760px;
    font-size: 19px;
}
.num62{
    position: absolute;
    top: 787px;
    left: 800px;
    font-size: 19px;
}
.num63{
    position: absolute;
    top: 787px;
    left: 885px;
    font-size: 19px;
}
.num64{
    position: absolute;
    top: 787px;
    left: 920px;
    font-size: 19px;
}
.num65{
    position: absolute;
    top: 835px;
    left: 600px;
    font-size: 19px;
}
.num66{
    position: absolute;
    top: 835px;
    left: 760px;
    font-size: 19px;
}
.num67{
    position: absolute;
    top: 835px;
    left: 800px;
    font-size: 19px;
}
.num68{
    position: absolute;
    top: 835px;
    left: 885px;
    font-size: 19px;
}
.num69{
    position: absolute;
    top: 835px;
    left: 920px;
    font-size: 19px;
}
.num70{
    position: absolute;
    top: 885px;
    left: 600px;
    font-size: 19px;
}
.num71{
    position: absolute;
    top: 885px;
    left: 760px;
    font-size: 19px;
}
.num72{
    position: absolute;
    top: 885px;
    left: 800px;
    font-size: 19px;
}
.num73{
    position: absolute;
    top: 885px;
    left: 885px;
    font-size: 19px;
}
.num74{
    position: absolute;
    top: 885px;
    left: 920px;
    font-size: 19px;
}
.num75{
    position: absolute;
    top: 933px;
    left: 280px;
    font-size: 19px;
}
.num76{
    position: absolute;
    top: 933px;
    left: 600px;
    font-size: 19px;
}
.num77{
    position: absolute;
    top: 933px;
    left: 760px;
    font-size: 19px;
}
.num78{
    position: absolute;
    top: 933px;
    left: 800px;
    font-size: 19px;
}
.num79{
    position: absolute;
    top: 933px;
    left: 885px;
    font-size: 19px;
}
.num80{
    position: absolute;
    top: 1030px;
    left: 920px;
    font-size: 19px;
}
.num81{
    position: absolute;
    top: 1030px;
    left: 600px;
    font-size: 19px;
}
.num82{
    position: absolute;
    top: 1030px;
    left: 760px;
    font-size: 19px;
}
.num83{
    position: absolute;
    top: 1030px;
    left: 800px;
    font-size: 19px;
}
.num84{
    position: absolute;
    top: 1030px;
    left: 885px;
    font-size: 19px;
}
.num85{
    position: absolute;
    top: 1055px;
    left: 160px;
    font-size: 19px;
}
.num86{
    position: absolute;
    top: 1055px;
    left: 600px;
    font-size: 19px;
}
.num87{
    position: absolute;
    top: 1055px;
    left: 760px;
    font-size: 19px;
}
.num88{
    position: absolute;
    top:  1055px;
    left: 800px;
    font-size: 19px;
}
.num89{
    position: absolute;
    top: 1055px;
    left: 885px;
    font-size: 19px;
}
.num90{
    position: absolute;
    top:  1055px;
    left: 920px;
    font-size: 19px;
}
.num91{
    position: absolute;
    top: 1090px;
    left: 730px;
    font-size: 19px;
}
.num92{
    position: absolute;
    top:  1090px;
    left: 800px;
    font-size: 19px;
}
.num93{
    position: absolute;
    top: 1090px;
    left: 860px;
    font-size: 19px;
}
.num94{
    position: absolute;
    top:  1090px;
    left: 920px;
    font-size: 19px;
}
.num95{
    position: absolute;
    top: 1120px;
    left: 320px;
    font-size: 19px;
}
.num96{
    position: absolute;
    top:  1150px;
    left: 410px;
    font-size: 19px;
}
.num97{
    position: absolute;
    top: 1150px;
    left: 620px;
    font-size: 19px;
}
.num98{
    position: absolute;
    top:  1150px;
    left: 850px;
    font-size: 19px;
}
.num99{
    position: absolute;
    top: 1195px;
    left: 100px;
}
input.cb8{
    height:20px;
    width:100px;
}
.num100{
    position: absolute;
    top: 1195px;
    left: 255px;
}
input.cb9{
    height:20px;
    width:100px;
}
.num101{
    position: absolute;
    top: 1195px;
    left: 436px;
}
input.cb10{
    height:20px;
    width:100px;
}
.num102{
    position: absolute;
    top: 1195px;
    left: 622px;
}
input.cb11{
    height:20px;
    width:100px;
}
.num103{
    position: absolute;
    top:  1190px;
    left: 810px;
    font-size: 19px;
}
.num104{
    position: absolute;
    top:  1245px;
    left: 600px;
    font-size: 19px;
}
.num105{
    position: absolute;
    top:  1265px;
    left: 580px;
    font-size: 19px;
}
.num106{
    position: absolute;
    top:  1265px;
    left: 630px;
    font-size: 19px;
}
.num107{
    position: absolute;
    top:  1265px;
    left: 720px;
    font-size: 19px;
}
</style>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
              
                   slipSalarys:[],ManagerInfos:[]
                   ,
                   headers:[

                      {text:'slipMasterName',value:'slipMasterName',align:'center',sortable:true},
                      {text:'slipMasterType',value:'slipMasterType',align:'center',sortable:true},
                      {text:'actions',value:'actions',align:'center',sortable:true}

					],
                    date: new Date().toISOString().substr(0, 10),Date2:[],
                    C1:true,
                }//edata
                ,
                created(){
                    this.slipSalarys = @Html.Raw(Json.Serialize(@ViewBag.slipSalarys));
                    this.ManagerInfos  = @Html.Raw(Json.Serialize(@ViewBag.ManagerInfos));
                    var mound=this.date.split("-");
                  var mound2={
                            day        : parseInt(mound[2]),
                            month      : parseInt(mound[1]),
                            year       : parseInt(mound[0]),
                            monthName  : select(parseInt(mound[1]))
                        }
                  this.slipSalarys=this.slipSalarys.filter(x=>x.month==mound2.month)
                  var abc = ""
                  
                  for(i=0;i<this.ManagerInfos[0].managerCZId.split("").length;i++){
                      abc = abc+this.ManagerInfos[0].managerCZId.split("")[i]+" "
                  }
                  for(a=0;a<this.slipSalarys.length;a++){
                      var qwe = ""
                  for(i=0;i<this.slipSalarys[a].employeeCId.split("").length;i++){
                      qwe = qwe+this.slipSalarys[a].employeeCId.split("")[i]+" "
                  }
                  this.slipSalarys[a].employeeCId=qwe
                  }
                    console.log(this.slipSalarys)
                    console.log(this.ManagerInfos)
                    
                  var div0 = document.getElementById('Tbill');
                  for(i=0;i<this.slipSalarys.length;i++){
                    div0.innerHTML +="<div class='imgc'>"+ 
                    "<v-img src = 'https://drive.google.com/uc?id=1fmYOjT0zRWvPhzh9umqtO9kau6FUzgTz'>"+"<div>"+
                    "<div class='num1' >"+"1"+"</div>"+     
                    "<div class='num2' >"+(i+1)+"</div>"+   
                    "<div class='num3' >"+abc+"</div>"+
                    "<div class='num4' >"+this.ManagerInfos[0].managerInfoFname+" "+this.ManagerInfos[0].managerInfoLname+"</div>"+ 
                    "<div class='num5' >"+""+"</div>"+ 
                    "<div class='num6' >"+this.ManagerInfos[0].managerAddress+"</div>"+     
                    "<div class='num7' >"+this.slipSalarys[i].employeeCId+"</div>"+ 
                    "<div class='num8' >"+this.slipSalarys[i].employeeF+" "+this.slipSalarys[i].employeeL+"</div>"+ 
                    "<div class='num9' >"+""+"</div>"+ 
                    "<div class='num10' >"+this.slipSalarys[i].employeeA+"</div>"+ 
                    "<div class='num11' >"+(i+1)+"</div>"+ 
                    "<div class='num12' >"+"<input type='checkbox' v-model='C1' class='cb1'/>"+"</div>"+ 
                    "<div class='num13' >"+"<input type='checkbox' class='cb2'/>"+"</div>"+ 
                    "<div class='num14' >"+"<input type='checkbox' class='cb3'/>"+"</div>"+ 
                    "<div class='num15' >"+"<input type='checkbox' class='cb4'/>"+"</div>"+ 
                    "<div class='num16' >"+"<input type='checkbox' class='cb5'/>"+"</div>"+ 
                    "<div class='num17' >"+"<input type='checkbox' class='cb6'/>"+"</div>"+ 
                    "<div class='num18' >"+"<input type='checkbox' class='cb7'/>"+"</div>"+
                    "<div class='num19' >"+"15-02-2021"+"</div>"+ 
                    "<div class='num20' >"+numberWithCommas((this.slipSalarys[i].netSalary*12).toFixed(2).split(".")[0])+"</div>"+ 
                    "<div class='num21' >"+(this.slipSalarys[i].netSalary*12).toFixed(2).split(".")[1]+"</div>"+ 
                    "<div class='num22' >"+numberWithCommas(((this.slipSalarys[i].totaldeducttion)*12).toFixed(2).split(".")[0])+"</div>"+ 
                    "<div class='num23' >"+((this.slipSalarys[i].totaldeducttion-75)*12).toFixed(2).split(".")[1]+"</div>"+ 
                    "<div class='num91' >"+numberWithCommas((this.slipSalarys[i].netSalary*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='num92' >"+(this.slipSalarys[i].netSalary*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='num93' >"+numberWithCommas(((this.slipSalarys[i].totaldeducttion-75)*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='num94' >"+((this.slipSalarys[i].totaldeducttion-75)*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='num95' >"+"1"+"</div>"+
                    "<div class='num96' >"+""+"</div>"+
                    "<div class='num97' >"+"75"+"</div>"+
                    "<div class='num98' >"+""+"</div>"+
                    "<div class='num99' >"+"<input type='checkbox'v-model='C1' class='cb8'/>"+"</div>"+
                    "<div class='num100' >"+"<input type='checkbox' class='cb9'/>"+"</div>"+
                    "<div class='num101' >"+"<input type='checkbox' class='cb10'/>"+"</div>"+
                    "<div class='num102' >"+"<input type='checkbox' class='cb11'/>"+"</div>"+
                    "<div class='num103' >"+""+"</div>"+
                    "<div class='num104' >"+this.ManagerInfos[0].managerInfoFname+" "+this.ManagerInfos[0].managerInfoLname+"</div>"+
                    "<div class='num105' >"+"15"+"</div>"+
                    "<div class='num106' >"+select(2)+"</div>"+
                    "<div class='num107' >"+"2021"+"</div>"+
                    "</v-img>"
                    ;}
                    function numberWithCommas(x) {
                  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                  }
                    function select(x){
                    if(x==1){
                        return "January"
                    }
                    else if(x==2){
                        return  "February"
                    }
                    else if(x==3){
                        return  "March"
                    }
                    else if(x==4){
                        return  "April"
                    }
                    else if(x==5){
                        return  "May"
                    }
                    else if(x==6){
                        return  "June"
                    }
                    else if(x==7){
                        return  "July"
                    }
                    else if(x==8){
                        return  "August"
                    }
                    else if(x==9){
                        return  "September"
                    }
                    else if(x==10){
                        return  "October"
                    }
                    else if(x==11){
                        return  "November"
                    }
                    else if(x==12){
                        return  "December"
                    }

                  }
                }//ecreated
                ,
                methods:{
                    
                    

                }//emethods
                ,
                computed:{

                }//ecomputed
            };
            app = new Vue(component);


    </script>

}