<nav aria-label='breadcrumb'>
    <ol class='breadcrumb breadcrumb-arrow'>
        <li class='breadcrumb-item'><a href='/bank/index'>bank</a></li>
        <li class='breadcrumb-item active' aria-current='page'>edit</li>
    </ol>
</nav>
<div id='app1' v-cloak>

    <v-app>
         
        <v-card>
          <v-card-title>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="bank.bankName" label="Bank name" ></v-text-field>


          </v-card-text>
          <v-card-actions>
             <v-btn @@click='edit_bank' color='yellow' outlined>
                <v-icon>
                    mdi-content-save-edit
                </v-icon>
             </v-btn>
          </v-card-actions>
          
        </v-card>
    </v-app>
</div>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
                    bank:{}
                    ,
                    
                }//edata
                ,
                created(){
                  this.bank = @Html.Raw(Json.Serialize(@ViewBag.bank));
                     
                     
                }//ecreated
                ,
                methods:{
                  edit_bank(){
                   
                    var url = '/bank/edit';
                    var param= this.bank;
                    $.post(url,param)
                    .done(res =>{
                          if(res.error == -1){
                               window.location = '/bank/index';
                          }
                          else{
                             alert(res.exception);
                          }
                    });
                    
                  }//emethod

                }//emethod
                ,
                 computed:{

                 }//ecomputed
            };
            app = new Vue(component);


    </script>

}
