<nav aria-label='breadcrumb'>
    <ol class='breadcrumb breadcrumb-arrow'>
        <li class='breadcrumb-item'><a href='/employeeinfo/index'>employeeinfo</a></li>
        <li class='breadcrumb-item active' aria-current='page'>create</li>
    </ol>
</nav>
<div id='app1' v-cloak>

    <v-app>
         
        <v-card>
          <v-card-title>
          </v-card-title>
          <v-card-text>
             <v-select return-object
          v-model="select_employee"
          :items="employees"
          item-text="employeeId"
          menu-props="auto"
          single-line
          label="employeeId"
          show="employeeId" 
           
  ></v-select>

 <v-select return-object
          v-model="select_InfoMaster"
          :items="InfoMasters"
          item-text="infoMasterId"
          menu-props="auto"
          single-line
          label="infoMasterId"
          show="infoMasterId" 
           
  ></v-select>


          </v-card-text>
          <v-card-actions>
             <v-btn @@click='add_employeeinfo' color='blue' outlined>
                <v-icon>
                    mdi-content-save-edit
                </v-icon>
             </v-btn>
          </v-card-actions>
          
        </v-card>
    </v-app>
</div>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
                    employeeinfo:{}
                    ,
                    employees:[] ,
select_employee:{},
InfoMasters:[] ,
select_InfoMaster:{},

                }//edata
                ,
                created(){
                     this.employees = @Html.Raw(Json.Serialize(@ViewBag.employees));
this.select_employee = this.employees[0];
this.InfoMasters = @Html.Raw(Json.Serialize(@ViewBag.InfoMasters));
this.select_InfoMaster = this.InfoMasters[0];

                }//ecreated
                ,
                methods:{
                  add_employeeinfo(){
                      console.log(this.select_InfoMaster.infoMasterId)
                      
                   this.employeeinfo.employeeId = this.select_employee.employeeId;
                this.employeeinfo.infoMasterId = this.select_InfoMaster.infoMasterId;

                    var url = '/employeeinfo/add';
                    var param= this.employeeinfo;
                    $.post(url,param)
                    .done(res =>{
                          if(res.error == -1){
                               window.location = '/employeeinfo/index';
                          }
                          else{
                             alert(res.exception);
                          }
                    });
                    
                  }//emethod

                }//emethod
                ,
                 computed:{

                 }//ecomputed
            };
            app = new Vue(component);


    </script>

}
